$BP8: 1080px; // 75ems
$BP8w: 960px;

$BP7: 1024px; // 64ems
$BP7w: 960px;

$BP6: 960px; // 60ems
$BP6w: 768px;

$BP5: 768px; // 48ems
$BP5w: 685px;

$BP4: 720px; //43ems
$BP4w: 600px;

$BP3: 600px; //38ems
$BP3w: 568px;

$BP2: 568px; //36ems
$BP2w: 480px;

$BP1: 480px; // 34ems
$BP1w: 380px;

$BP0: 380px; //24ems
$BP0w: 320px; 