/**
 * Form and table ect defaults.
 */

/* ========================================================== */
/* = Box sizing makes life easier                           = */
/* ========================================================== */

*{ @include border-box(); }

/* ========================================================== */
/* = Set up baseline                                        = */
/* ========================================================== */

body{
	// Optional type aliasing
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 14px;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear;
}

@mixin preload()
{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

@mixin clear()
{
    clear: both;
}

// ========================================================== */
// = Selection Colors                                       = */
// ========================================================== */

::selection{
	background: $select;
	color: $select_color;
}
::-moz-selection{
	background: $select;
	color: $select_color;
}
img::selection{
	background: transparent;
}
img::-moz-selection{
	background: transparent;
}
body{
	-webkit-tap-highlight-color: $select;
}

// ========================================================== */
// = Links                                                  = */
// ========================================================== */

a{
	color: $link;
  text-decoration: none;
	&:hover, &:focus{
	    color: $link_hover;
	}

	// Optional transition
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear;
}


a.button{

	// background: -webkit-linear-gradient(top, , #12AE96);
	background: $color2_1;

		color: $white;
		white-space: nowrap;
		display: inline-block;
		text-align: center;
		border-radius: 4px;
		font-weight: 800;
		padding: $size_1 $size_2;
		line-height: $size_3;
		-webkit-transition:all .2s linear;
		-moz-transition:all .2s linear;
		-o-transition:all .2s linear;
		transition:all .2s linear;
		&:hover{
			// background: -webkit-linear-gradient(top, #16CCA7, #12AE96);
			background: darken($color2_1, 5%);
		}
		&::selection{
			color: $color1_1;
		}

}
// ========================================================== */
// = Images                                                 = */
// ========================================================== */

// Make images responsive
figure img{
    width: 100%;
    height: auto;
    display:block;
}

// Figcaption colour
figcaption{
    color: $grey_dark;
}

// ========================================================== */
// = Lists                                                  = */
// ========================================================== */

ul,ol,dl{
    margin:0;
    margin-bottom: 1.5em;
}

nav ul{
    @include nav-menu();
}

// ========================================================== */
// = Forms                                                  = */
// ========================================================== */

form{
    //margin-bottom:1.5em;
}

form#search_box{
    margin-bottom: 1.5em;
    max-width: 400px;
}

form ul{
    list-style-type:none;
    list-style-image:none;
    margin:0;
    padding:0;
    li{
        @include clearfix();
        margin-bottom:1.5em;
        div.error{
        	font-size:small;
        	color:red;
        	text-align:right;
        }
    }
}
form ul.form_submit{
    clear:both;
    padding-top: 1.5em;
}

fieldset{
    /*margin:0;
    padding:1.5em;*/
}

label{
    display: block;
    outline: none;
    font-weight: bold;
    >span.required{
        color: $red;
    }
}

label.inline{
    display:inline;
    //padding-right: 24px;
}

input,
textarea,
select{
    &:focus{
        outline: 0px; // Probably should leave outlines?
        -webkit-box-shadow: 0px 0px 5px $grey_light;
        -moz-box-shadow: 0px 0px 5px $grey_light;
        -ms-box-shadow: 0px 0px 5px $grey_light;
        box-shadow: 0px 0px 5px $grey_light;
    }
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
textarea{
    display:block;
    width: 100%;
    margin:0 0 0.75em;
    padding: 0.4em;
    border:1px solid #e8e8e8;
    background: #f8f8f8;
    line-height: 1.5em;
    font-family:$font-body1;
    text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

select{
    width: 100%;
    height: 2.1em;
    margin-bottom: 0.9em;
    border:1px solid #e8e8e8;
    font-family:$font-body1;
}

input[type="range"],
input[type="color"]{
    vertical-align: middle;
    height: 1.5em;
    width: 100%;
    font-family: $font-body1;
}

input[type="range"]{
    height: 1.4em;
}

input[type="color"]{
    width: 1.5em;
    font-family:$font-body1;
}

// Time element is a little weird with the extra controls
input[type="time"]{
	margin: 0 0 0.55em;
}

progress,
meter{
    display:block;
    width: 100%;
    height: 1.5em;
}

input[type="submit"],
input[type="button"]{
    // text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
    // -webkit-font-smoothing: antialiased;
    // text-rendering: optimizeLegibility;

    // Optional transition
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;

    // @include button();
    padding: 10px 40px;
}

input.search_box{
    padding-left: 40px;
}
.search_icon{
    display:block;
    float:left;
    margin-top: -44px;
    margin-left: 10px;
    font-size: small;
    color:#ccc;
}

// ========================================================== */
// = Tables                                                 = */
// ========================================================== */

table       { margin-bottom: 1.4em; width:100%; border:1px solid $grey_light; border-collapse: separate;}
th          { text-align: left;}
thead th{
    text-align: left;
    font-size: 16px;
    color:$white;
    text-shadow:0px 1px 1px RGBA(0,0,0,0.4);
    border:0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    //border-top: 1px solid #4B7294;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    //border-bottom: 1px solid #234B6E;
    //.box-shadow( 0px 0px 0px 1px #234B6E);
}
thead th:first-child{
    background-image: url(../images/title.png);
    background-position: top left;
    background-repeat: no-repeat;
}
td:last-child, th:last-child{ border-right:0; }
tr:last-child td{ border-bottom:0; }
th,td,caption {
    padding: 8px 10px;
}
td{
    border:0;
    border-bottom: 1px solid $grey_light;
    border-right: 1px solid $grey_light;
    border-left: 1px solid $white;
}
td:first-child{ border-left:0; }
td p { margin: 0; }
tr.alt td, tr:nth-child(even) td  { background: #f9f9f9; }
tfoot       { font-style: italic; }
caption     { background: #999; }


// ========================================================== */
// = Other elements                                         = */
// ========================================================== */

hr {
    background: $grey_light;
    color: $grey_light;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 0 0 1.4em;
    border: none;
}
